a{
    text-decoration: none;
    color: black;
}

ul{
    list-style: none;
}

input:focus{
    outline: none;
}
  
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

.remove-scroll{
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}